// override variables
$nav-height: 52px;
$bar-height: 40px;
$link-color: #0069d9; //a11y blue

@use "sass:map";
@import 'axdd-components/src/assets/css/custom.scss';

// pathways custom colors
$custom-colors: (
  "test": red,
);

// axdd-components + pathways custom colors
$theme-colors: map-merge($theme-colors, $custom-colors);

// import bootstrap and bootstrap-icons
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

// additional non-bootstrap styles

.blah { color: purple; }
