@use "sass:map";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

/** variables **/
$nav-height: 52px;
$bar-height: 40px;

// override theme colors
$theme-colors: (

  // override bootstrap colors
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    #f5d300,
  "danger":     #a94442,
  "light":      $light,
  "dark":       $dark,

  // custom colors
  'purple': #4d307f, // uw purple
  'dark-purple': #452a78, // thin bar
  'beige': #e8e3d3, // tan
  'dark-beige': #85754d, // headers
  'gold': #ffbc24, //uw gold
  'teal': #4c7286, // uw teal

);

$link-color: #0069d9; //a11y blue
